.app-header{
  background-color: #fff;
}
 .app-footer {
  background-color: #e7e7e7;
   margin-top: 40px;
}
.app-header, .app-footer {
  color: #000;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .06);
  -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .06);

  .header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
  }

  .logo {
    flex: 0.55
  }

  .logo, .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .search-input {
      position: relative;
      width: 400px;
      height: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .custom-search {
        font-weight: 600;
        padding-left: 30px;
        color: #1a1a1a;
        border: 1px solid rgba(151, 151, 151, 0.2);
        border-radius: 0;
        border-right: 0;
        align-self: flex-start;
        background-color: #f0f0f0;
        box-sizing: border-box;
        width: 100%;

      }
      .custom-search::placeholder{
        font-size: 14px;
      }
      .search-icon{
        position: absolute;
        left: 10px;
       font-size: 12px;
        top: 10px;
        color: gray;
      }
    }


  }


  .user-name {
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-size: 11px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 10px 0 #ededed;

  }
  .user-link {
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    color: #ababab;
    font-size: 11px;
    font-weight: 600;
    padding: 10px;
    text-align: center;


  }
}
@media screen and (max-width: 880px) {
  .user-link{font-size: 5px}
}
