.filter-list-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  .filter-area {
    width: 250px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;

  }

  .list-area {
    width: 100%;

  }

}

.filter-box {
  border-radius: 4px;
  border: 1px solid #ebebeb;
  margin-bottom: 10px;
  background: white;
  width: 100%;

  .title {
    border-bottom: 1px solid #d9d9d9;
    font-weight: bold;
    padding: 10px;
  }

  .content {
    padding: 10px;
    max-height: 200px;
    overflow: scroll;
  }
}

.product-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  .sorting-wrapper{

    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    .item-price {
      color: red;
      font-weight: bold;
    }
  }

  td, th {
    border: none;
    padding: 8px;
    min-width: 80px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: white;
  }

  tr:hover {
    background: #ffedf1 !important;
    cursor: pointer;
  }

  tr:nth-child(odd) {
    background-color: #f3f3f3;

  }

  .item-img {
    width: 125px;
    height: 95px;
    background: #bdbdbd;

    img {
      width: 125px;
      max-width: 125px;
      height: 95px;
      display: block;
      object-fit: cover;
    }
  }
}

.pagination {
  display: flex;
  list-style: none;
  margin: 20px auto;
}

.select-perPage {
  margin: 20px auto;
  display: flex;
  span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
  }
}

.pagination-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  &.ellipsis {
    pointer-events: none;
    cursor: default;
  }
}

.pagination-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.pagination-button.active {
  background-color: red;
  color: white;
}

.pagination-button.disabled {
  background-color: #f1f1f1;
  cursor: not-allowed;

  i {
    color: #c0c0c0;
  }
}

.pagination-button i {
  color: #757575;
}